<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.colayy.dao.RescordDao">

<!--    考生信息展示-->
    <select id="queryAllRescord" parameterType="string" resultType="Rescord">
        select * from e_record where p_id = #{value} and is_delete = 0 order by create_time asc
    </select>

</mapper>